/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
	background-image: url("https://media.istockphoto.com/photos/bulletin-board-with-notes-picture-id525979626?k=6&amp;m=525979626&amp;s=612x612&amp;w=0&amp;h=l4S7dcyBphvHWQgvx1qz26AFHppq7721io9fC2izYGY=");

	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}